# --- Large Data Folders (Case Sensitive on Linux) ---
DATA/
data/
mmdet/
mmdetection/

# --- Model Weights & Archives ---
weights/
yolov7_udp/runs/
yolov9_udp/runs/
*.pt
*.pth
*.zip
*.tar.gz

# --- Python & System Garbage ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# --- IDEs ---
.vscode/
.idea/
